* {
  box-sizing: border-box;
  margin: 0 auto;
}
@font-face {
  font-family: "Harry Potter";
  src: url("/fonts/HarryPotter.woff2") format("woff2"), url("/fonts/HarryPotter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*-----------------HEADER-------------------*/
#topbar {
  display: flex;
  flex-flow: wrap row;
  background-color: #740001;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 180px;
}

#topbar > h1 {
  font-family: "Harry Potter";
  color: #ececec;
  font-size: 3.2em;
}

#logo {
  justify-content: left;
  padding: 1em;
  position: absolute;
  top: 0;
  left: 0;
}

/*-----------------FILTER BUTTONS-------------------*/
#filter_divs {
  display: flex;
  width: 80%;
  margin-top: 2em;
  margin-bottom: 2em;
}

#filter_divs > div {
  height: 150px;
  width: 150px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

div[data-student="all"] {
  background-image: url(/images/hogwarts.png);
}

div[data-student="Slytherin"] {
  background-image: url(/images/01slytherin.png);
}
div[data-student="Hufflepuff"] {
  background-image: url(/images/01hufflepuff.png);
}
div[data-student="Ravenclaw"] {
  background-image: url(/images/01ravenclaw.png);
  cursor: pointer;
}
div[data-student="Gryffindor"] {
  background-image: url(/images/01gryffindor.png);
  cursor: pointer;
}
/*-----------------STUDENTS LIST-------------------*/

main {
  max-width: 1200px;
}

main > h3 {
  text-align: center;
  font-family: "Harry Potter";
  font-size: 3rem;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  font-family: monospace;
}

#actors {
  display: flex;
  flex-wrap: wrap;
  margin: 1.1em 0 1.1em 0;
}

#student {
  cursor: pointer;
  flex-basis: 100%;
  flex-grow: 1;
  background-color: #ffffff;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px rgba(37, 42, 68, 0.5);
}

#popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 42, 68, 0.8);
  display: none;
}

#popup > article {
  position: relative;
  margin: 20rem auto;
  padding: 15px;
  width: 80vw;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  font-family: sans-serif;
}

.popup_column {
  flex-basis: 45%;
  flex-grow: 1;
}

footer {
  background-color: #343434;
  color: #ececec;
  font-family: sans-serif;
}

ul {
  list-style: none;
  text-align: center;
  padding: 2rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  .actor {
    flex-basis: 45%;
  }

  #popup > article {
    width: 50vw;
  }
}
